@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
}

.font-brand {
    letter-spacing: .2em;
}
